#hidden-nav-bar{
    display: none;
    z-index: 1000;
    width: 100%;
    position: absolute;
}
nav{
    padding: 1rem 0;
    position: relative;
}

#nav-menu{
    display: flex;
    justify-content: center;
}

#nav-menu:hover #hidden-nav-bar{
    display: block;
}

#nav-menu li{
    padding: 0 1rem;
}

nav img{
    height: 3rem;
    width: auto;
}

#nav-last-item{
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-search-bar{
    background-color: #f5f5f5;
    border-radius: 100px;
    padding: 1px;
}

.nav-search-bar button{
   border-radius: 100px;
   padding: 3px;
   border: none;
   background-color: #f5f5f5;
}

.nav-search-bar input{
    border-radius: 100px;
    border: none;
    background-color: #f5f5f5;
}

#nav-icons{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#nav-icons a{
    margin: 5px;
}