nav{
    padding: 1rem 0;
    position: relative;
}

.New:hover #New-nav-bar{
    display: flex;
    justify-content: center;
}
.Men:hover #Men-nav-bar{
    display: flex;
    justify-content: center;
}
.Women:hover #Women-nav-bar{
    display: flex;
    justify-content: center;
}
.Kids:hover #Kids-nav-bar{
    display: flex;
    justify-content: center;
}
.Sale:hover #Sale-nav-bar{
    display: flex;
    justify-content: center;
}

#New-nav-bar{
    display: none;
    z-index: 1000;
    top: 2.9rem;
    width: 295%;
    right: -97%;
    position: absolute;
    background-color: white;
    padding: 1rem;
}

#Men-nav-bar{
    display: none;
    z-index: 1000;
    top: 2.9rem;
    width: 295%;
    right: -97%;
    position: absolute;
    background-color: white;
    padding: 1rem;
}

#Women-nav-bar{
    display: none;
    z-index: 1000;
    top: 2.9rem;
    width: 295%;
    right: -97%;
    position: absolute;
    background-color: white;
    padding: 1rem;
}
#Kids-nav-bar{
    display: none;
    z-index: 1000;
    top: 2.9rem;
    width: 295%;
    right: -97%;
    position: absolute;
    background-color: white;
    padding: 1rem;
}
#Sale-nav-bar{
    display: none;
    z-index: 1000;
    top: 2.9rem;
    width: 295%;
    right: -97%;
    position: absolute;
    background-color: white;
    padding: 1rem;
}

#nav-menu{
    display: flex;
    justify-content: center;
}

#nav-menu li{
    padding: 0 1rem;
}

nav img{
    height: 3rem;
    width: auto;
}

#nav-last-item{
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-search-bar{
    background-color: #f5f5f5;
    border-radius: 100px;
    padding: 1px;
    position: relative;
}

.nav-search-bar button{
   border-radius: 100px;
   padding: 3px;
   border: none;
   background-color: #f5f5f5;
}

.nav-search-bar input{
    border-radius: 100px;
    border: none;
    background-color: #f5f5f5;
}

#nav-icons{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 2rem;
}

#nav-icons svg{
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}

#nav-icons a{
    margin: 5px;
}

.a-block a{
    display: block;
}

#hidden-side-bar{
    display: block;
    z-index: 1000;
    position: absolute;
    right: 1rem;
    background-color: white;
    width: 50%;
    height: auto;
    overflow-y: scroll;

}

.test:hover #hidden-side-bar{
    display: block;
}

@media screen and (max-width:1059px) {

    #nav-menu{
        display: none;
    }
    .nav-search-bar{
        display: none;
    }
    #nav-icons a:first-child{
        display: none;
    }
    #nav-icons{
        text-align: right;
    }
    #hidden-icon{
        display: block;
    }
    
}  
